<div class="container-fluid formHolder">
  <div class="wrapper">
    <div class="container-fluid">
      <h2>Welcome to my little app.</h2>
      <hr>
      <div class="row">
        <div class="row" id="rowHeader">
          <p>This app manages your contacts list.</p>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <a class="btn btn-primary" href="/signin" name="signIn">Sign In</a>
          </div>
          <div class="col-xs-6">
            <a class="btn btn-primary" href="/signup" name="signIn">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
